data-hf/test80_full_data
data/
binpack-rust-main/.cargo/
binpack-rust-main/target/
binpack-rust-main/Cargo.lock
.venv/
wandb/
halfkp/training_data_loader.dylib
halfkp/training_data_loader.so
halfkp/training_data_loader.dll
halfkp/halfkp_epoch_*